* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background: var(--bg);
    color: var(--w);
    font-family: var(--CR);
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

:root {
    --bg: #040D1F;
    --w: #fff;
    --lo: #ED8E00;
    --or: #F18128;
    --CB: 'CB', sans-serif;
    --MR: 'MR', sans-serif;
    --MB: 'MB', sans-serif;
    --RR: 'RR', sans-serif;
    --RM: 'RM', sans-serif;
    --CR: 'CR', sans-serif;

}

.btn {
    font-family: var(--rm);
    font-size: 16px;
    font-weight: 500;
    line-height: 12px;
    background: var(--bg);
    border-radius: 4px;
    padding: 15px 47px;
    color: var(--W);
    transition: 0.3s;
}

.btn:hover {
    background: var(--or);
    color: black;
}

.title {
    display: flex;
    align-items: center;
}

.heading {
    font-family: var(--CR);
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom:10px ;
    border-bottom: 2px solid var(--or);
    color: var(--or);
    text-transform: capitalize;
}